ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
.logo{
    width: 15%;
}
a:hover{
    color: rgb(88, 8, 8) !important;
}
button img{
    width: 23px;
   
}
header #recherche{
    padding: 0;
    border: 1px solid gray;
}

#annonces{
    border: 1px solid rgb(170, 162, 162);
    border-radius: 10px !important;
    overflow: hidden;
    padding-left: 0%;
    margin-bottom: 1rem;
}

#image_annonce{
    
    padding-left: 0%;
    padding-right: 0%;
   
    object-position: center center;
}
header{
    
     overflow: hidden;
     background-color: #333;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
     width: 100%; /* Full width */
     z-index: 2;
     box-shadow: 0px 0px 8px rgba(0,0,0,.6);
     
}
main{
    margin-top: 10rem;
}